Unattended-Upgrade::Automatic-Reboot "{{ security_autoupdate_reboot }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ security_autoupdate_reboot_time }}";

{% if security_autoupdate_mail_to %}
Unattended-Upgrade::Mail "{{ security_autoupdate_mail_to }}";
{% if security_autoupdate_mail_on_error %}
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}
{% endif %}

Unattended-Upgrade::Allowed-Origins {
        "${distro_id} ${distro_codename}-security";
{% if security_autoupdate_allupdates %}
        "${distro_id} ${distro_codename}-updates";
{% else %}
//      "${distro_id} ${distro_codename}-updates";
{% endif %}
};

Unattended-Upgrade::Package-Blacklist{
{% for package in security_autoupdate_blacklist %}
      "{{package}}";
{% endfor %}
}
